<html>
<style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
div {width: 70%; padding 10px; background-color: #648CD1; color: #31D8EB; margin: auto; text-align: center;}
</style>


<body>
  <h1 align='center'>Welcome to Find you home-like apartment</h1>
 
<table align="center" border="1" style="background-color:lightblue">
  <p align="center" style="background-color:lightblue">There are following buildings for you to consider</a></p>
  {% for key,values in results.items() %} 
   <th>{{key}}</th>
   {% if key == 'name'%}
  {% for value in values %}
  <tr>
     <td><a href="{{value}}">{{value}}</td>
  </tr>
  {% endfor %}
  {% else %}
  {% for value in values %}
  <tr>
     <td>{{value}}</td>
  </tr>
  {% endfor %}
  {% endfor %}
 </table>
<div>
<br>
<p align="center" style=font-size: 16px>Search the table for Buildings name, year, management team</p>  
<input style=align:"center" class="form-control" id="myInput" type="text" placeholder="Search..">
<br>

<p align="center"><a href="uid=3">Check comments of buildings from Twitter</a></p> 
</div>
</body>
</html>
