<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h2 align='center'>Products you searched are as followings, click them for available stores</h2>
  <div align='center' style="background-color:lightyellow">
    {% for n in data %}
    <p><a href="search/{{n}}">{{n}}</a></p>
    {% endfor %}
  </div>


<p>
  <br>
<p align='center'><a href="/">Back to homepage</a> </p>
<p align='center'><a href="/search">Back to product search</a> </p>
</p>

</body>


</html>