<html>
<style>
    body{ 
      font-size: 12pt;
      font-family: arial;
    }
div {width: 70%; padding 10px; background-color: #648CD1; color: #31D8EB; margin: auto; text-align: center;}
</style>


<body>
<table align="center" border="1" style="background-color:papayawhip">

  <p align="center" style="background-color:lightblue">Tweets Comment for that Management Team</a></p>
  {% for name in names %} 
  <th scope='column'>{{name}}</th>
  {% endfor %}

  {% for values in result %}
  <tr>
  {% for value in values %}  
  <td>{{value}}</td>
  {% endfor %}
  </tr>
  {% endfor %}
 </table>
<div>
<br>

<p align='center'><a href="/">Back to homepage</a> </p>
</br>
</div>
</body>
</html>
